body{
	background-color: #d5dae2;
}
#header_nav{
	opacity: 0.8;
	border: 0;
	border-radius: 0;
}

nav h1{
	margin: 0;
	line-height: .75;
	color: white;
}

nav a {
	text-decoration: none;
}

.navbar-inverse .navbar-nav>li>a{
	color: white;
}

ul {
	background-color: grey;
}

div>h3 {
	font-weight: bold;
	margin-bottom: 50px;
}
.random-text{
	background-color: #6e8989;
}